$header__height: 30px;
$toolbar__height: 34px;
$formula__height: 27px;
$row-cell-width: 95px;
$row-cell-height: 20px;
$row-info-width: 30px;
$menu-header-height: 64px;
$menu-create-height: 160px;
$border__color: rgba(105, 105, 105, 0.6);
$cell-color: rgba(224, 224, 224, 0.6);
$active-color: rgba(63, 153, 232, 0.6);